<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Welcome!</h2>
  <p>We just need to know a little bit more about you to get started🗳️</p>

  <div class="control-row">
    <div class="control">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        formControlName="emailControl"
      />
      @if (emailIsInvalid) {
      <p class="control-error">Please enter a valid email address</p>
      }
    </div>

    <div class="control" formGroupName="passwords">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="passwordControl"
      />
      @if (passwordIsInvalid) {
      <p class="control-error">
        Please enter a valid password, at least 6 characters long
      </p>
      }
    </div>

    <div class="control" formGroupName="passwords">
      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        formControlName="confirmPasswordControl"
      />
      @if (confrimPasswordIsInvalid) {
      <p class="control-error">Passwords do not match</p>
      }
    </div>
  </div>

  <hr />
  <div>
    <div class="control-row">
      <div class="control" formGroupName="name">
        <label for="first-name">First Name</label>
        <input
          type="text"
          name="first-name"
          id="first-name"
          formControlName="firstNameControl"
        />
        @if (firstNameIsInvalid) {
        <p class="control-error">Enter your First Name</p>
        }
      </div>

      <div class="control" formGroupName="name">
        <label for="last-name">Last Name</label>
        <input
          type="text"
          name="last-name"
          id="last-name"
          formControlName="lastNameControl"
        />
        @if (lastNameIsInvalid) {
        <p class="control-error">Enter your Last Name</p>
        }
      </div>
    </div>

    <fieldset formGroupName="address">
      <legend>Your Address</legend>
      <div class="control-row">
        <div class="control">
          <label for="street-address">Street Address</label>
          <input
            type="text"
            name="street-address"
            id="street-address"
            formControlName="streetAddressControl"
          />
          @if (streetAddressIsInvalid) {
          <p class="control-error">Enter a valid street address</p>
          }
        </div>

        <div class="control">
          <label for="city">City</label>
          <input
            type="text"
            name="city"
            id="city"
            formControlName="cityControl"
          />
          @if (cityIsInvalid) {
          <p class="control-error">Enter a valid city</p>
          }
        </div>

        <div class="control">
          <label for="state">State</label>
          <input
            type="text"
            name="state"
            id="state"
            formControlName="stateControl"
          />
          @if (stateIsInvalid) {
          <p class="control-error">Enter a valid state</p>
          }
        </div>

        <div class="control">
          <label for="zip-code">Zip Code</label>
          <input
            type="text"
            name="zip-code"
            id="zip-code"
            formControlName="zipCodeControl"
          />
          @if (zipCodeIsInvalid) {
          <p class="control-error">Enter a zip code</p>
          }
        </div>
      </div>
    </fieldset>
  </div>

  <hr />

  <div class="control-row">
    <div class="control">
      <label for="role">What best describes your role?</label>
      <select id="role" name="role" formControlName="roleControl">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
        <option value="employee">Employee</option>
        <option value="founder">Founder</option>
        <option value="other">Other</option>
      </select>
      @if (roleIsInvalid) {
      <p class="control-error">Please pick a role</p>
      }
    </div>
  </div>

  <fieldset formArrayName="sourceControl">
    <legend>How did you find us?</legend>
    <div class="control">
      <input
        type="checkbox"
        id="google"
        name="acquisition"
        value="google"
        formControlName="0"
      />
      <label for="google">Google</label>
    </div>

    <div class="control">
      <input
        type="checkbox"
        id="friend"
        name="acquisition"
        value="friend"
        formControlName="1"
      />
      <label for="friend">Referred by friend</label>
    </div>

    <div class="control">
      <input
        type="checkbox"
        id="other"
        name="acquisition"
        value="other"
        formControlName="2"
      />
      <label for="other">Other</label>
    </div>
  </fieldset>

  <div class="control-row">
    <div class="control">
      <label for="terms-and-conditions">
        <input
          type="checkbox"
          id="terms-and-conditions"
          name="terms"
          formControlName="agreeControl"
        />
        I agree to the terms and conditions
        @if (agreeIsInvalid) {
        <p class="control-error">Please agree to the terms and conditions</p>
        }
      </label>
    </div>
  </div>

  <p class="form-actions">
    <button type="button" class="button button-flat" (click)="onReset()">
      Reset
    </button>
    <button type="submit" class="button">Sign up</button>
  </p>
</form>
